html {
    font-family: Arial;
}

.btn-wrapper{
  top: calc(50% - 22px);
  left: 0;
  width: 100%;
  text-align: center;

}

.btn{
  background-color: #1d3030;
  height: 37px;
  line-height: 32px;
  padding: 0 20px;
  font-size: 17px;
  border-radius: 30px;
  color: #ffffe6;
  cursor: pointer;
}



.contener {
    border-width:1px;
    border-style:dotted;
    border-color:black;
}

.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1d3030;
    color:  #ffffe6;
    overflow-x: hidden;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar a {
    text-decoration: none;
    color:  #ffffe6;
    display: block;
}

.main {
    margin-left: 240px;
    padding: 20px;
}

.grid-container {
    display: grid;
    padding: 20px;
}

.post{
    border : solid;
    padding: 0.5em;
}

.img {
    width: 40%;
    border-radius: 5px;
}