{% extends 'base.html' %}
{% block content %}

    <h1>Créer une critique</h1>
    <h3>Vous êtes en train de poster en réponse à : </h3>
    <div class="grid-container">
        <fieldset>
            <p>{{ ticket.user }} a demandé une critique </p>
            <p> De : {{ ticket.title }}</p>
            <p> {{ ticket.description }}</p>
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}">
            {% else %}
                <img scr="![](../../../../media/book.png)">
            {% endif %}
        </fieldset>
    </div>

    <div class="grid-container">
            <form method="post" enctype="multipart/form-data">
                <fieldset>
                    <h3> Critique </h3>
                    {{ review_form.as_p }}
                    {% csrf_token %}
                </fieldset>
                <button type="submit" class="btn">Envoyer</button>
                <button type="button" class="btn"><a style="color: #ffffe6" href="{% url 'home' %}">Retour</a></button>

            </form>
    </div>

{% endblock content %}