{% extends 'base.html' %}
{% block content %}

    <h2>Créer une critique</h2>
   <div class="grid-container">
        <form method="post" enctype="multipart/form-data">
            <fieldset>
                <h3>Livre / Article</h3>
                {% csrf_token %}
                {{ ticket_form.as_p }}
            </fieldset>
            <fieldset>
                <h3> Critique </h3>
                {{ review_form.as_p }}
                {% csrf_token %}
            </fieldset>
            <button type="submit" class="btn">Envoyer</button>
            <button type="button" class="btn"><a style="color: #ffffe6" href="{% url 'home' %}">Retour</a></button>
        </form>
   </div>

{% endblock content %}