{% extends 'base.html' %}
{% block content %}
    <h2>Suivre d'autres utilisateurs</h2>

    <fieldset>
        <h4>Liste des utilisateurs : </h4>
        <ul>{% for user in users %}
        <li>{{ user.username}}
            {% endfor %}
        </ul>

         <p>Veuillez entrer un nom d'utilisateur :</p>
        <form method="POST" action="{% url 'follow_users' %}" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Envoyer</button>
        </form>
      </fieldset>


    <h2>Vous suivez {{ user_follows.count }} utilisateurs : </h2>
        {% if user_follows %}
    <ul>
        {% for follow in user_follows %}
        <li>{{ follow.followed_user.username }} | <a href="{% url 'delete_followed_user' follow.id %}">Désabonner</a></li>
        {% endfor %}
    </ul>
    {% elif not followed_user %}
        <h5>Aucun utilisateur vous suit.</h5>
    {% endif %}



    <h2>Suivi par {{ followed_by.count }} utilisateurs :</h2>
    {% if followed_by %}
    <ul>
        {% for follow in followed_by %}
        <li>{{ follow.user.username }}</li>
        {% endfor %}
    </ul>
    {% elif not followed_by %}
        <h5>No one is following you.</h5>
    {% endif %}

{% endblock content %}