{% extends 'base.html' %}
{% block content %}
    <h2>Suivre d'autres utilisateurs</h2>
     <fieldset>
        <form method="POST" action="{% url 'follow_users' %}" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Envoyer</button>
        </form>
      </fieldset>


    <h2>Abonnements ({{ user_follows.count }})</h2>
        {% if user_follows %}
    <ul>
        {% for follow in user_follows %}
        <li>{{ follow.followed_user.username }} | <a href="{% url 'delete_followed_user' follow.id %}">Désabonner</a></li>
        {% endfor %}
    </ul>
    {% elif not followed_user %}
        <h5>Aucun utilisateur vous suit.</h5>
    {% endif %}



    <h2>Abonnés ({{ followed_by.count }})</h2>
    {% if followed_by %}
    <ul>
        {% for follow in followed_by %}
        <li>{{ follow.user.username }}</li>
        {% endfor %}
    </ul>
    {% elif not followed_by %}
        <h5>No one is following you.</h5>
    {% endif %}

{% endblock content %}