{% extends 'base.html' %}
{% block content %}
    <h2>Suivre des utilisateurs</h2>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Confirmer</button>
    </form>


    <h2>Utilisateurs suivis ({{ user_follows.count }})</h2>
        {% if user_follows %}
            {% for follow in user_follows %}
              <li>{{ follow.followed_user.username }}</li>
            <a href="{% url 'confirm-unsub' follow.id %}">Unsubscribe</a>
            {% endfor %}
        {% elif not user_follows %}
            <h5>You are not subscribed to anyone.</h5>
      {% endif %}


 <!-- Followers -->
    <h2>Utilisateurs qui vous suivent ({{ followed_by.count }})</h2>
        {% if followed_by %}
            {% for follow in followed_by %}
              <li>{{ follow.user.username }}</li>
            {% endfor %}
      {% elif not followed_by %}
            <h5>No one is following you.</h5>
      {% endif %}

{% endblock content %}