{% extends 'base.html' %}
{% load blog_extras %}

{% block content %}
  <h1>Votre flux</h1>

    <div class="btn-wrapper">
      <button type="button" class="btn"><a style="color: #ffffe6" href="{% url 'create_ticket' %}">Demander une critique</a></button>
      <button type="button" class="btn"><a style="color: #ffffe6" href="{% url 'create_review_without_ticket' %}">Créer une critique</a></button>
    </div>

    <div class="grid-container">
      <fieldset>
        {% for instance in page_obj %}
      {% if instance|model_type == 'Ticket' %}
      {% include 'blog/partials/ticket_snippet.html' with ticket=instance %}
    </fieldset>
    </div>

<br/>

  <div class="grid-container">
    <fieldset>
      {% elif instance|model_type == 'Review' %}
        {% include 'blog/partials/review_snippet.html' with review=instance %}
      {% endif %}
    {% endfor %}
    </fieldset>
  </div>


<div>
  {% include 'blog/partials/paginator_snippet.html' %}
</div>

{% endblock content %}