{% extends 'base.html' %}
{% load blog_extras %}

{% block content %}
  <h1>Votre flux</h1>

    <nav>
      <p><a href="{% url 'create_ticket' %}">Demander une critique</a></p>
      <p><a href="{% url 'create_review_without_ticket' %}">Créer une critique</a></p>
    </nav>

    <div class="grid-container">
      <div class="post">
        {% for instance in page_obj %}
      {% if instance|model_type == 'Ticket' %}
      {% include 'blog/partials/ticket_snippet.html' with ticket=instance %}
      </div>
    </div>

<br/>

  <div class="grid-container">
    <div class="post">
      {% elif instance|model_type == 'Review' %}
        {% include 'blog/partials/review_snippet.html' with review=instance %}
      {% endif %}
    {% endfor %}
    </div>
  </div>


<div>
  {% include 'blog/partials/paginator_snippet.html' %}
</div>

{% endblock content %}