{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}


 <h1>Vos Posts</h1>

    <div class="grid-container">
        <h2>Vos demandes de critique</h2>
        <div class="post">
            {% for instance in page_obj %}
            {% if instance|model_type == 'Ticket' %}
            {% include 'blog/partials/ticket_snippet.html' with ticket=instance %}
            {% endif %}
            {% endfor %}
        </div>

  </div>
<br/>
    <div class="grid-container">
        <h2>Vos critiques</h2>
        <fieldset>
            {% for instance in page_obj %}
            {% if instance|model_type == 'Review' %}
            {% include 'blog/partials/review_snippet.html' with review=instance %}
            {% endif %}
            {% endfor %}
              {% if not instance|model_type == 'Review' %}
                <h5>Vous avez publier aucune critique</h5>
            {% endif %}
        </fieldset>
    </div>

<div>
    {% include 'blog/partials/paginator_snippet.html' %}
</div>

{% endblock content %}